<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Ampersand_Adminhtml>
            <version>0.0.3</version>
        </Ampersand_Adminhtml>
    </modules>
    <global>
        <blocks>
            <ampersand_adminhtml>
                <class>Ampersand_Adminhtml_Block</class>
            </ampersand_adminhtml>
        </blocks>
        <helpers>
            <ampersand_adminhtml>
                <class>Ampersand_Adminhtml_Helper</class>
            </ampersand_adminhtml>
        </helpers>
        <models>
            <ampersand_adminhtml>
                <class>Ampersand_Adminhtml_Model</class>
                <resourceModel>ampersand_adminhtml_mysql4</resourceModel>
            </ampersand_adminhtml>
            <ampersand_adminhtml_mysql4>
                <class>Ampersand_Adminhtml_Model_Mysql4</class>
                <entities>
                    <search>
                        <table>ampersand_adminhtml_search</table>
                    </search>
                    <search_item>
                        <table>ampersand_adminhtml_search_item</table>
                    </search_item>
                </entities>
            </ampersand_adminhtml_mysql4>
        </models>
        <resources>
            <ampersand_adminhtml_setup>
                <setup>
                    <module>Ampersand_Adminhtml</module>
                </setup>
            </ampersand_adminhtml_setup>
        </resources>
    </global>
    <adminhtml>
        <events>
            <core_block_abstract_prepare_layout_after>
                <observers>
                    <ampersand_adminhtml>
                        <type>singleton</type>
                        <class>ampersand_adminhtml/observer</class>
                        <method>handleNewBlock</method>
                    </ampersand_adminhtml>
                </observers>
            </core_block_abstract_prepare_layout_after>
            <adminhtml_catalog_product_edit_prepare_form>
                <observers>
                    <ampersand_adminhtml>
                        <type>singleton</type>
                        <class>ampersand_adminhtml/observer</class>
                        <method>handleProductEditForm</method>
                    </ampersand_adminhtml>
                </observers>
            </adminhtml_catalog_product_edit_prepare_form>
            <catalog_product_prepare_save>
                <observers>
                    <ampersand_adminhtml>
                        <type>singleton</type>
                        <class>ampersand_adminhtml/observer</class>
                        <method>prepareProductForSave</method>
                    </ampersand_adminhtml>
                </observers>
            </catalog_product_prepare_save>
        </events>
    </adminhtml>
</config>